@font-face {
  font-family: RobotoThin;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

.spades , .clubs {
	font-size : 1.5em;
	color : black;
}

.hearts , .diams {
	font-size : 1.5em;
	color : red;
}


.spades-small , .clubs-small {
	font-size : 0.9em;
}

.hearts-small , .diams-small {
	font-size : 0.9em;
	color : red;
}

body {
	display : flex;
	flex-direction : column;
	overflow : hidden;
	height : 100vh;
	box-sizing: border-box;
	margin : 0;
	background : linear-gradient(to right , brown , chocolate);
}

div.myInput {
	text-align : center;
}

div.myInput * {
	font-family : RobotoThin;
	font-weight: bold;
}

div.wrapper {
	display : flex;
	position : relative;
	width : 100%;
	height : 100%;
	border : 1px solid blue;
}

div.container {
	display : flex;
	margin : auto;
	width : 300px;
	flex-direction : row;
	position : absolute;
	bottom : 0;
	left : 50%;
	transform : translateX(-50%);
	border : 1px solid red;
}

div.playerFront {
	display : flex;
	flex-direction : row;
	position : absolute;
	margin : auto;
	width : 300px;
	top : 0px;
	left : 35%;
	transform : translateX(-50%);
	/* border : 1px solid black; */
	transform : rotate(180deg);
}


div.playerRight {
	display : flex;
	flex-direction : row;
	position : absolute;
	margin : auto;
	width : 300px;
	right : -130px;
	bottom : 60%;
	transform : translateY(-50%);
	/* border : 1px solid black; */
	transform : rotate(-90deg);
}

div.playerLeft {
	display : flex;
	flex-direction : row;
	position : absolute;
	margin : auto;
	width : 300px;
	left : -130px;
	top : 50%;
	transform : translateY(-50%);
	/* border : 1px solid black; */
	transform : rotate(90deg);
}

div.boxControllerForTop {
	display : flex;
	flex-direction : row;
	position : absolute;
	margin : auto;
	width : 300px;
	bottom : 0%;
	right : 0%;
	border : 1px solid red;
}


div.boxControllerForRight {
	display : flex;
	flex-direction : row;
	position : absolute;
	margin : auto;
	width : 300px;
	bottom : 0;
	right : 0%;
	border : 1px solid red;
}

div.boxControllerForLeft {
	display : flex;
	flex-direction : row;
	position : absolute;
	margin : auto;
	width : 300px;
	bottom : 0;
	right : 0%;
	border : 1px solid red;
}






div.cardContainer {
	display : inline-block;
}

div.card {
	transform: scale(1); /* Equal to scaleX(0.7) scaleY(0.7) */
	background-color : white;
	position : relative;
	display : flex;
	flex-direction : column;
	/* width : 18vw;
	height : 25vw; */
	width : 90px;
	height : 130px;
	border : 1px solid black;
	border-radius : 10px;
	justify-content : center;
	align-items : center;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
	cursor : pointer;
}


div.otherCard {
	transform: scale(0.6); /* Equal to scaleX(0.7) scaleY(0.7) */
	transform-origin: bottom;
	background-color : white;
	position : relative;
	display : flex;
	flex-direction : column;
	/* width : 18vw;
	height : 25vw; */
	width : 90px;
	height : 130px;
	border : 1px solid black;
	border-radius : 10px;
	justify-content : center;
	align-items : center;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}









div.number {
	position : absolute;
	font-family : RobotoBold;
	font-size : 16px;
	top : 4px;
	left : 4px;
}

div.number div:nth-child(2) {
	margin-top : -5px;
	text-align : center;
}


div.numberReverse {
	position : absolute;
	font-family : RobotoBold;
	font-size : 16px;
	bottom : 4px;
	right : 4px;
	transform : rotate(180deg);
}

div.numberReverse div:nth-child(2) {
	margin-top : -5px;
	text-align : center;
}


div.row {
	display : flex;
	flex-direction : row;
	/*margin : auto;*/ /*Scary Code -- bad padding*/
	/* width : 65%; */
	/*justify-content : center;
	align-items : center;*/
}

div.col {
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;
}

div.col-smaller {
	display : flex;
	flex-direction : column;
	align-items : center;
	height : 90%;
	justify-content : space-around;
}

div.col-taller {
	display : flex;
	flex-direction : column;
	align-items : center;
	height : 130%;
	justify-content : space-around;
}

div.col-very-taller {
	display : flex;
	flex-direction : column;
	align-items : center;
	height : 190%;
	justify-content : space-around;
}


div.col-medium {
	display : flex;
	flex-direction : column;
	height : 100%;
	align-items : center;
	justify-content : space-around;
}

div.rowOfColumns {
	display : flex;
	flex-direction : row;
	justify-content : center;
	align-items : center;
}

div.rowOfColumnsSpaceAround {
	display : flex;
	flex-direction : row;
	width : 70%;
	justify-content : space-around;
}


div.card div.seperate {
	position : absolute ;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%);
}


div.col span {
	margin : 1px;
}



span.hidden {
	visibility : hidden;
} 

span.large {
	font-size : 3em;
}

img {
	object-fit: cover;
	width : 60%;
	border : 2px solid black;
}



div.yourContainer {
	position : absolute ;
	z-index : 20;
	bottom : 20px;
	left : 50%;
	transform : translateX(-50%);
	width : 300px;
	height : auto;
	/* border : 10px solid aqua; */
}





div.hokmContainer{
	/* display : flex; */
	display : none;
	flex-direction : row;
	justify-content: space-between;
	position : relative;
	z-index : 10;
	width : 200px;
	height : 50px;
	bottom : 140px;
	left : 50%;
	transform : translateX(-50%);
}


div.hokmContainer .hokm {
	color : white;
}


span.cursor {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
	cursor : pointer;
	transition : 0.1s;
}



span.cursor:hover {
	position : relative;
	bottom : 5px;
	transition : 0.1s;
}



div.hokmDetails {
	font-size : 2em;
	display : flex;
	opacity : 0;
	flex-direction : row;
	justify-content: space-between;
	position : absolute;
	width : 60px;
	bottom : 140px;
	right : -30px;
	border : 1px solid black;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}


div.hokmDetailsForOthers {
	font-size : 2em;
	display : none;
	flex-direction : row;
	justify-content: space-between;
	position : absolute;
	width : 60px;
	bottom : 140px;
	right : 0px;
	border : 1px solid black;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}


div.centerCard {
	transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
	/* visibility: hidden; */
	background-color : white;
	position : relative;
	z-index : 3;
	display : flex;
	margin : auto;
	flex-direction : column;
	width : 90px;
	height : 130px;
	border : 1px solid black;
	border-radius : 10px;
	justify-content : center;
	align-items : center;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}

div.greenBack {
	background-color : green;
	border-radius : 5px;
	width : calc(100% - 15%);
	height : calc(100% - 10%);
	display : flex;
	justify-content: center;
	align-items : center;
}

div.insideGreen {
	background-color : green;
	border : 2px solid white;
	border-radius: 2px;
	width : calc(100% - 15%);
	height : calc(100% - 10%);
	display : flex;
	justify-content : center;
	align-items : center;
	font-size : 2em;
}

div.insideGreen div {
	display : flex;
	justify-content : center;
	align-items : center;
	width : 30px;
	height : 30px;
	border : 2px solid white;
	border-radius : 50%;
}

div.insideGreen div span {
	position : relative;
	bottom : 3px;
}

div.insideGreen div:nth-child(2) {
	transform : rotate(180deg);
}

div.insideSpades {
	color : white;
}

div.gameBoard {
	/* display : flex; */
	display : none;
	margin : auto;
	position : absolute;
	z-index : 4;
	top : 50%;
	left :  50%;
	transform : translate(-50%,-50%);
	width : 200px;
	height : 200px;
}

div.top , div.down, div.right , div.left {
	transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
	visibility: visible;
	background-color : white;
	display : flex;
	margin : auto;
	flex-direction : column;
	width : 90px;
	height : 130px;
	border : 1px solid black;
	border-radius : 10px;
	justify-content : center;
	align-items : center;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}


div.top {
	position : absolute;
	z-index : 4;
	top : 25%;
	left : 50%;
	transform : translate(-50%,-50%) scale(0.7);
}

div.down {
	position : absolute;
	z-index : 4;
	top : 75%;
	left : 50%;
	transform : translate(-50%,-50%) scale(0.7);
} 

div.left {
	position : absolute;
	top : 50%;
	left : 30%;
	transform : translate(-50%,-50%) scale(0.7);
}

div.right {
	position : absolute;
	top : 50%;
	left : 70%;
	transform : translate(-50%,-50%) scale(0.7);
} 





@media only screen and (max-width: 900px) {
	div.playerFront {
		transform : rotate(180deg) scale(0.7);
		left : 25%;
	}

	div.playerRight {
		transform : rotate(-90deg) scale(0.7);
		right : -140px;
		bottom : 60%;
	}

	div.playerLeft {
		transform : rotate(90deg) scale(0.7);
		left : -140px;
		top : 50%;
	}

	div.yourContainer {
		transform : scale(0.9);
		margin : auto;
		left : 30%;
	}

	div.centerCard {
		transform : scale(0.5);
	}

	div.gameBoard {
		transform : translate(-50%,-50%) scale(0.8);
	}
}




@media only screen and (max-width: 600px) {
	div.playerFront {
		transform : rotate(180deg) scale(0.6);
		left : 10%;
	}

	div.playerRight {
		transform : rotate(-90deg) scale(0.6);
		right : -140px;
		bottom : 60%;
	}

	div.playerLeft {
		transform : rotate(90deg) scale(0.6);
		left : -140px;
		top : 50%;
	}

	div.yourContainer {
		transform : scale(0.7);
		margin : auto;
		left : 15%;
	}

	div.centerCard {
		transform : scale(0.5);
	}

	div.gameBoard {
		transform : translate(-50%,-50%) scale(0.7);
	}
}







@media only screen and (max-width: 400px) {
	div.playerFront {
		transform : rotate(180deg) scale(0.6);
		left : 0%;
	}

	div.playerRight {
		transform : rotate(-90deg) scale(0.6);
		right : -140px;
	}

	div.playerLeft {
		transform : rotate(90deg) scale(0.6);
		left : -140px;
	}

	div.yourContainer {
		transform : scale(0.7);
		margin : auto;
		left : 5%;
	}

	div.centerCard {
		transform : scale(0.3);
	}

	div.gameBoard {
		transform : translate(-50%,-50%) scale(0.7);
	}
}


